:root {
    --rose-brown: #B08B76;
    --light-rose-brown: #D6BDAA;
    --eggshell: #F8E9D5;
    --dark-beige: #CFC6B0;
    --sage-green: #B4B5A4;
    --dusty-pink: #CEB1A7;
    --light-beige: #efe8de;
    --beige: #e9ddcb;
    --text: #fefefe;
    --dark-blue: #141623;
    --light-blue: #22253d;

    --dark-brown: #2f2722;

    /* --serif-font: "Playfair Display", serif; */
    --serif-font: "Lato", serif;
    /* --logo-font: "Rubik Glitch", serif; */
    --logo-font: "Neucha", serif;

    --navigation-height: 10vh;
}

* {
    padding: 0;
    margin: 0;
}