:root {
    --rose-brown: #B08B76;
    --light-rose-brown: #D6BDAA;
    --eggshell: #F8E9D5;
    --dark-beige: #CFC6B0;
    --sage-green: #B4B5A4;
    --dusty-pink: #CEB1A7;
    --light-beige: #efe8de;

    --serif-font: "Playfair Display", serif;

    --navigation-height: 10vh;
}

* {
    padding: 0;
    margin: 0;
}